<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h3>Main Page</h3>
    <p>p element is represents "paragraph" This is a writing...</p>

    <h5>-- Lucky Numbers --</h5>
    <p>{{number}}</p>
    <p>{{number_2}}</p>

    <p>{{car["Brand"]}}</p>
    <p>{{car["Serie"]}}</p>
    <p>{{car["Configuration"]}}</p>
    <p>There is easier way to use dictionaries is templates below. On browser they won't seen but on VS Code it can be seen.</p>
    <p>{{car.Brand}}</p>
    <p>{{car.Serie}}</p>
    <p>{{car.Configuration}}</p>
    

</body>
</html>
