<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <p>'title' - placed just above 'body' part - is the words that you see in the tab of browser</p>
    <h3> This is written with "h3"</h3>
    <h4> This is written with "h4"</h4>
    <p> This is normal paragraph with "p"</p>
    <h5> This is written with "h5"</h5>
    <h3>{{asd}}</h3>
    <head>{{str}}</head>
    <header>This is written with header</header>
    <h3>{{dic.5000}}</h3>
    <h3>{{dic.software}}</h3>

</body>
</html>